/* CSS for the search bar results container */
h1 {
  margin-top: 100px;
  color: aliceblue;
}

.enterlocation {
  color: aliceblue;
}

.searchbarresults {
  display: flex; /* Display its children in a row by default */
  flex-direction: column; /* Display its children in a column */
  align-items: center; /* Center the children horizontally */
}

.results-container {
  max-width: 400px; 
  text-align: center;
}

/* Style for the weather details container */
.weather-details {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the city name */
.weather-details h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

/* Style for temperature and other details */
.weather-details p {
  font-size: 16px;
  color: #666;
  margin: 8px 0;
}

/* Style for the weather description */
.weather-details .weather-description {
  font-weight: bold;
  color: #444;
}

/* Style for temperature values */
.weather-details .temperature {
  font-size: 20px;
  color: #222;
}
